.app {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
}

.header-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.header h1 {
  margin: 0;
}

.books-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add some spacing between the book items */
}

.book {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.cart {
  padding: 20px;
}

.footer {
  background-color: #f8f8f8;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
